.App {
	text-align: center;
	background-color: wheat;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.grid-letter {
	width: 30px;
	padding: 10px;
	border: 5px solid gray;
	margin: 0;
	background-color: white;
	/* position: absolute; */
}

.grid-row {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0px;
}

.grid-container {
	/* grid-template-rows: auto auto auto auto; */
	/* grid-template-rows: 80px 200px; */
	display: grid;
	width: 240px;
}

.page {
	margin: 20px auto 80px auto;
	max-width: 800px;
	text-align: center;
}

.grid-wrapper {
	margin: 50px;
}

.navbar {
	margin: 50px;
}
